/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul,
dl {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
}

dd {
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font: 14px 'ocrf-light', sans-serif;
    background: #2C342E;
}
/* ==========================================================================
   Transition classes
   ========================================================================== */

.navlink,
.authlink,
.cond-btn {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
}

.more-btn .authlink,
.social-item {
    transition: background-color .2s ease;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    -ms-transition: background-color .2s ease;
}

.wrapper {
    position: relative;

    width: 1366px;
    max-width: 1366px;
    height: 760px;
    margin: 0 auto;

    background: #2C342E;
}

.wrapper:before {
    content: "";
    position: absolute;
    top: 0px
    left: 0px;
    z-index: 1;

    width: 600px;
    height: 760px;

    background: url(../img/bg.png) no-repeat;
}

header {
    position: relative;

    height: 53px;
    padding: 0 17px;
    border-bottom: 1px solid #434a45;

    font-size: 13px;
}

.under-header {
    height: 105px;
    margin: 0 0 0 183px;
    padding: 0 17px;
}

.under-header h1 {
    float: left;
    margin: 0;
    padding: 0 59px 0 70px;

    font-size: 34px;
    font-weight: normal;
    text-transform: uppercase;
    color: #7eff96;
    letter-spacing: 1px;

    line-height: 95px;
} 

.under-header > .date {
    float: left;
    height: 100%;
}
.date-cell {
    float: left;

    margin: 0 21px 0 0;
    padding: 24px 0 0;

    font-size: 26px;
    text-align: center;
    color: #89baa7;
}

.date-cell:nth-child(3) {
    margin: 0 14px 0 0;
}

.date-cell.flash {
    color: #d8e2da;

    text-shadow: 0px 0px 8px #78ee8e;
}

.date-cell:after {
    display: block;

    height: 6px;
    margin: 1px 0 0;

    font-size: 8px;
    text-transform: uppercase;
    color: #4e655b;

    text-shadow: none;
}

.date-cell.days:after {
    content: "Дней";    
}

.date-cell.hours:after {
    content: "Часов";
}

.date-cell.mins:after {
    content: "Минут";
}

.date-cell.secs:after {
    content: "Секунд";
}

nav {
    position: relative;
    z-index: 2;

    height: 100%;
    margin: 0 0 0 194px;
}

footer {
    padding: 0 17px;
}

.nav-list,
.right-authlist {
    height: 100%;
}

.nav-item {
    float: left;
    height: 100%;
}

.navlink {
    display: block;
    width: auto;
    height: 100%;
    padding: 0 54px;
    border-bottom: 4px solid transparent;

    line-height: 53px;
    color: #78ee8e;
    
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navlink:hover,
.active .navlink {
    border-color: #78ee8e;
}

.right-auth {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    height: 53px;
}

.authitem {
    float: left;
    height: 100%;

    border-right: 1px solid #444b45;
}

.authitem.more-btn {
    border-left: 1px solid #444b45;
    border-bottom: 1px solid #444b45;
    background: url(../img/sprites.png) no-repeat -180px -182px;
}

.more-btn .authlink {
    display: block;
    height: 100%;
    width: 0;
    padding: 0 27px;

    text-indent: -9999px;
}

.gallery .authlink {
    padding: 0 52px;
    letter-spacing: 2px;
    height: 100%;
}

.authitem.more-btn:hover .authlink{
    background: url(../img/sprites.png) no-repeat -180px -182px #242e2b;
}

.authitem:last-child {
    border-right: none;
}

.authlink {
    display: block;
    height: 100%;
    padding: 0 36px 0 38px;

    line-height: 55px;
    color: #78ee8e;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.authlink:hover {
    background: #78ee8e;;
    color: #242e2b;
}

.authitem:last-child .authlink {
    padding: 0 36px;
}

.inner-content {
    position: relative;
    padding: 0 17px;
}

.task,
.cond {
    position: relative;
    z-index: 2;

    float: left;

    width: 405px;
    height: 492px;
}

.task {
    width: 332px;
    margin: 0 5px 0 39px;
    padding: 264px 0 0;
}

.screencast {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted;
}

.screencast:after {
    content: "3";
    position: absolute;
    top: -25px;
    left: 80px;

    font-size: 12px;
    line-height: 56px;

    text-transform: uppercase;
    color: #606962;
    letter-spacing: 1px;
}

.task dl {
    color: #7EFF96;
}

.task dt {
    display: inline-block;

    font-size: 26px;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.task dd {
    display: inline-block;
    font-size: 11px;

    text-transform: uppercase;
}

.task dd:before {
    content: "·";
    display: inline-block;
    font-weight: 700;
    margin: 0 8px 0 14px;
}

.task-body {
    position: relative;
    margin: 30px 0 0;
    padding: 0 0 0 30px;

    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: #7EFF96;
}

.task-body:before {
    content: ">";
    position: absolute;
    top: -1px;
    left: 6px;

    text-shadow: 0px 0px 8px #78ee8e;
}

.energy-drink {
    color: #81d89f;
    letter-spacing: 2px;
}

.cond {
    border-top: 2px solid;
    background: rgba(0, 0, 0, .1);
}

.equip.cond {
    margin: 0 58px 0 0;
    padding: 4px 0 0;
    border-color: #7EFF96;
    background: url(../img/green.png);
}
.honors.cond {
    padding: 4px 0 0;
    border-color: #ee7886;
    background: url(../img/red.png);
}

.cond-head {
    position: relative;

    height: 126px;
    padding: 28px 0 28px 50px;

    font-size: 30px;
    line-height: 35px;

    text-transform: uppercase;
    letter-spacing: 1px;
}

.equip.cond .cond-head {
    border-top: 1px solid #3e5242;
    color: #7EFF96;
}

.equip.cond .cond-head:after {
    content: "1";
    position: absolute;
    top: 47px;
    left: 155px;

    font-size: 12px;
    line-height: 56px;

    text-transform: uppercase;
    color: #606962;
    letter-spacing: 1px;
}

.equip.cond .cond-head:before {
    content: "";
    position: absolute;
    top: 34px;
    left: -30px;
    display: block;

    width: 57px;
    height: 59px;
    background: url(../img/sprites.png) no-repeat -300px -200px;    
}

.honors.cond .cond-head {
    padding: 28px 0 28px 32px;
    border-top: 1px solid #5c4a48;
    color: #ee7886;
}

.honors.cond .cond-head:before {
    content: "";
    position: absolute;
    top: 32px;
    left: -42px;
    display: block;
    width: 62px;
    height: 68px;

    background: url(../img/sprites.png) no-repeat -50px -200px ;
}

.honors.cond .cond-head:after {
    content: "2";
    position: absolute;
    top: 44px;
    left: 215px;

    font-size: 12px;
    line-height: 56px;

    text-transform: uppercase;
    color: #606962;
    letter-spacing: 1px;
}

.cond-body {
    position: relative;
    height: 264px;
}

.honors .cond-body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;    
    border-left: 2px solid #ff4f4f;
    border-right: 2px solid #ff4f4f;

    background: #47403c;
}

.equip .cond-body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 1px;
    border-left: 2px solid #599f66;
    border-right: 2px solid #599f66;

    background: #3a4f3e;
}

.top-term {
    padding: 9px 0 18px 57px;

    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: #638476;
}

.bot-term {
    padding: 13px 0 18px 55px;

    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: #638476;
}

.honors.cond .top-term {
    padding: 9px 0 18px 35px;
}

.honors.cond .bot-term {
    padding: 13px 0 18px 76px;
}

.equip .todos-list {
    margin: 18px 0;
    padding: 52px 0 0 67px;
    background: url(../img/sprites.png) no-repeat 30px -100px;
}

.honors .todos-list {
    margin: 18px 0;
    padding: 55px 0 0 14px;
    background: url(../img/sprites.png) no-repeat -35px -1px;
}

.todo {
    float: left;
}

.equip .todo {
    margin: 8px 0 0;
}

.equip .todo:first-child {
    margin: 8px 48px 0 0;
}

.honors .todo {
    margin: 5px 16px 0 0;
}

.honors .todo:last-child {
    margin: 5px 0 0 8px;
}

.todo-desc {
    font-size: 12px;
    text-transform: uppercase;
}

.equip .todo-desc {
    color: #7EFF96;
}

.honors .todo-desc {
    color: #ee7886;
}


.cond-send {
    position: relative;

    height: 95px;
    padding: 23px 0 29px;
    border-top: 1px solid transparent;

    text-align: center;
}

.cond-send:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    height: 1px;
    background: rgba(125, 148, 129, .1);
}

.cond-btn {
    display: inline-block;
    width: 250px;
    height: 40px;
    border: none;

    background: none repeat scroll 0 0 #78EE8E;
    
    font-size: 12px;
    color: #242E2B;
    text-transform: uppercase;
    letter-spacing: 1px;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; 
    -khtml-border-radius: 2px; 
    border-radius: 2px;
}

.cond-btn:hover {
    opacity: .85;
}

.likes-block {
    position: absolute;
    top: 235px;
    left: 734px;

    width: 189px;
    height: 192px;
    padding: 129px 0 0 0;

    background: url(../img/likes.png);

    text-align: center;
}

.likes-head {
    margin: 0 0 11px;

    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7EFF96;
}

.likes-body {
    position: relative;
    z-index: 5;

    font-size: 12px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #638476;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 53px;
    padding: 0 0 0 17px;
    border-top: 1px solid #434a45;

    font-size: 13px;
}

.ftr-copy {
    float: left;
    margin: 0 0 0 20px;
    padding: 0 20px 0 0;
    border-right: 1px solid #434a45;

    font-size: 10px;
    line-height: 56px;

    text-transform: uppercase;
    color: #606962;
    letter-spacing: 1px;
}
.ftr-notes {
    float: left;

    padding: 0 0 0 21px;

    font-size: 10px;
    line-height: 56px;

    text-transform: uppercase;
    color: #606962;
    letter-spacing: 1px;
}



.ftr-noteslist dt,
.ftr-noteslist dd {
    display: inline-block;
}


.ftr-noteslist dt{
    position: relative;
    top: -4px;

    margin: 0 4px 0 0;
}

.ftr-noteslist dd{
    margin: 0 26px 0 0;
}

.social-list {
    float: right;
    height: 100%;
}

.social-item {
    float: left;
    height: 100%;
}

.social-item.tw:hover,
.social-item.fb:hover {
    background-color: #242e2b;
}

.social-item.tw {
    border-left: 1px solid #444b45;
    background: url(../img/sprites.png) no-repeat -58px -275px;
}

.social-item.fb {
    border-left: 1px solid #444b45;
    background: url(../img/sprites.png) no-repeat -129px -275px;
}

.social-item > a {
    display: block;
    height: 100%;
    width: 0px;
    padding: 0 27px;


    text-indent: -9999px;
}

/* Loader */
body.closed {
    overflow: hidden;
}
.wrapper {
    -webkit-transition: 1.25s all ease;
    transition: 1.25s all ease;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.wrapper.opened .drink {
    -webkit-transform: scale(.75);
    transform: scale(.75);
}
.drink-wrapper {
    height: 620px;
}
.drink-wrapper.opened {
    z-index: 0;
}
.drink-wrapper.ontop {
    z-index: 20;
}
.loader-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transform: rotate(-20deg) scale(1.75);
    transform: rotate(-20deg) scale(1.75);
}
.loader.opened {
    -webkit-transition: all 1.25s ease;
    transition: all 1.25s ease;
    -webkit-transform: rotate(-55deg) scale(1.75);
    transform: rotate(-55deg) scale(1.75);
}
.loader.opened .loader-top-r {
    -webkit-transform: translate(115%, -80%);
    transform: translate(115%, -80%);
}
.loader.opened .loader-top-l {
    -webkit-transform: translate(-115%, -115%);
    transform: translate(-115%, -115%);
}
.loader.opened .loader-bot-r {
    -webkit-transform: translate(115%, 115%);
    transform: translate(115%, 115%);
}
.loader.opened .loader-bot-l {
    -webkit-transform: translate(-115%, 80%);
    transform: translate(-115%, 80%);
}
.loader-top-r {
    background: url("../img/loader-logo/2.jpg") no-repeat scroll left bottom / cover #2C342E;
    border-bottom: 6px solid #39b54a;
    border-left: 3px solid #39b54a;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 50%;
    left: 50%;
    position: absolute;
    top: 3px;
    -webkit-transition: all 1.25s ease 0s;
    transition: all 1.25s ease 0s;
    width: 50%;
}
.loader-bot-r {
    background: url("../img/loader-logo/3.jpg") no-repeat scroll left top / cover #2C342E;
    border-left: 3px solid #39b54a;
    border-top: 6px solid #39b54a;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 50%;
    left: 50%;
    position: absolute;
    top: -webkit-calc(50% - 3px);
    top: -moz-calc(50% - 3px);
    top: calc(50% - 3px);
    -webkit-transition: -webkit-transform 1.25s ease 0s, top 0s;
    transition: transform 1.25s ease 0s, top 0s;
    width: 50%;
}
.loader-bot-l {
    background: url("../img/loader-logo/4.jpg") no-repeat scroll right top / cover #2C342E;
    border-right: 6px solid #39b54a;
    border-top: 3px solid #39b54a;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 50%;
    left: 3px;
    position: absolute;
    top: 50%;
    -webkit-transition: all 1.25s ease 0s;
    transition: all 1.25s ease 0s;
    width: 50%;
}
.loader-top-l {
    background: url("../img/loader-logo/1.jpg") no-repeat scroll right bottom / cover #2C342E;
    border-bottom: 6px solid #39b54a;
    border-right: 6px solid #39b54a;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 50%;
    left: 3px;
    position: absolute;
    top: 3px;
    -webkit-transition: all 1.25s ease 0s;
    transition: all 1.25s ease 0s;
    width: 50%;
}
.logo-part {
    position: absolute;
}
.full-logo {
    background: url("../img/loader-logo/loader-full.png") no-repeat scroll 0 0 / 50% 50% rgba(0, 0, 0, 0);
    bottom: -175.5px;
    height: 200px;
    left: -99.5px;
    position: absolute;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    width: 224px;
    z-index: 12;
}
/*.loader-top-r .logo-part {
    bottom: -3px;
    left: -3px;
    width: 73px;
    height: 71px;
    background: url(../img/loader-logo/top-r.png) no-repeat left bottom / 50% 50%;
} 
.loader-bot-r .logo-part {
    top: -3px;
    left: -3px;
    width: 73px;
    height: 109px;
    background: url(../img/loader-logo/bot-r.png) no-repeat left top / 50% 50%;
} 
.loader-bot-l .logo-part {
    top: -3px;
    right: -3px;
    width: 144px;
    height: 109px;
    background: url(../img/loader-logo/bot-l.png) no-repeat right top / 50% 50%;
}
.loader-top-l .logo-part {
    bottom: -3px;
    right: -3px;
    width: 144px;
    height: 71px;
    background: url(../img/loader-logo/top-l.png) no-repeat right bottom / 50% 50%;
}*/
.loader-link {
    position: absolute;
    -webkit-transform: scale(.55) rotate(20deg);
    transform: scale(.55) rotate(20deg);
    display: inline-block;
    font-size: 20px;
    background: #39b54a;
    z-index: 13;
}
.loader-top-r .loader-link {
    bottom: 15%;
    left: 15%; 
}
.loader-bot-r .loader-link {
    top: 15%;
    left: 15%;
}
.loader-bot-l .loader-link {
    top: 13%;
    right: 9%;
}
.loader-top-l .loader-link {
    bottom: 25%;
    right: 5%;
}
.loader-link a {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    display: inline-block;
    width: 100%;
    height: 100%;    
    padding: .35em .55em .22em;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.loader-link a span {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.loader-link a:hover {
    background: #72bf44;
}

/* Drink */
.drink-wrapper {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    min-width: 1280px;
    min-height: 100%;  
    background: url(../img/drink/drink-bg.jpg) no-repeat 0 0 / cover;
}
.drink-wrapper:before,
.drink-wrapper:after {
    content: none;
}
.drink {
    -webkit-transition: 1.25s all ease;
    transition: 1.25s all ease;
    position: relative;
    z-index: 2;
    width: 1280px;
    height: 620px;
    margin: 0 auto;
    padding: 184px 0 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.drink:after {
    content: "";
    position: absolute;
    top: 22px;
    left: 50%;
    width: 155px;
    height: 529px;
    margin: 0 0 0 -77.5px;
    background: url(../img/drink/bottle.png) no-repeat 0 0 / 100% 100%;
}
.drink dd,
.drink dt {
    line-height: 1.3em;
}
.drink-logo {
    position: absolute;
    top: 30px;
    left: 11px;
    width: 96px;
    height: 98px;
    background: url(../img/drink/logo.png) no-repeat 0 0 / 100% 100%;
}
.drink-logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.drink .cross {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background: url(../img/drink/cross.png) no-repeat 0 0 / 100% 100%;
    cursor: pointer;
}
.drink .cross a {
    position: relative;
    z-index: 13;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.gain-list {
    width: 36%;
    margin: 0 0 0 13px;
    float: left;
    text-transform: uppercase;
}
.gain-list dt {
    font-size: 30px;
    color: #39b54a;
    text-align: right;
    line-height: 1em;
}
.gain-list.right > dt span {
    font-size: 14px;
    vertical-align: super;
}
.gain-list.right dd span {
    color: rgba(255, 255, 255, 0.59);
    display: inline-block;
    font-size: 10px;
    line-height: 11px;
    position: absolute;
    vertical-align: top;
}
.gain-list dd {
    margin: 0 0 26px;
    font-size: 18px;
    line-height: 1.15em;
    color: #fff;
    text-align: right;
}
.gain-list.right {
    float: right;
    margin: 0 13px 0 0;
}
.gain-list.right dt,
.gain-list.right dd {
    text-align: left;
}
.tabs {    
    position: absolute;
    bottom: 27px;
    left: 0;
    width: 100%;    
    text-align: center;
}
.tab {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    display: inline-block;
    border: 2px solid #39b54a;
    border-right: 1px solid #39b54a;
    color: #39b54a;
}
.tab.active,
.tab:hover {
    background: #39b54a;
    color: #fff;
}
.tab.active a {
    cursor: default;
}
.tab a {
    display: inline-block;
    width: 126px;
    height: 28px;
    color: inherit;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    outline: none;
}
.composition {
    display: none;
    float: right;
    margin: 17px 18px 0 0;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.composition.left {
    float: left;
    margin: 17px 0 0 36px;
    text-align: right;
}
.composition.left .comp-dt {
    margin: 61px 0 0 34px;
    font-size: 18px;
}
.composition header {    
    height: auto;
    padding: 0;
    border: none;
}
.composition .comp-dt {
    line-height: 1.2em;
}
.composition h2 {
    margin: 0;
    font-size: 26px;
    color: #39b54a;
    font-weight: 300;
    text-transform: uppercase;
}
.comp-list dt {
    margin: 14px 0 0;
    font-size: 18px;
    color: #39b54a;
}
.tips {
    position: absolute;
    bottom: 8px;
    right: 6px;

    font-size: 10px;
    text-transform: uppercase;
    color: #ccc;
    color: rgba(255, 255, 255, .33);
}
.loader-cont .tips {
    position: fixed;
    bottom: 8px;
    right: 6px;
    z-index: 3;
    color: rgba(255, 255, 255, .59);
}
.top-links {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.top-links li {
    display: inline-block;
    width: 166px;
    height: 67px;
    margin-right: 1px;

    background: rgba(0, 0, 0, .6);
    vertical-align: top;

    transition: all .4s ease;
    -weblit-transition: all .4s ease;
}
.top-links li:hover {
    background-color: rgba(0, 0, 0, .4);
}
.top-links .mailer {
    width: 85px;
    margin: 0;
    background: url(../img/drink/mailer.png) no-repeat center 32px rgba(0, 0, 0, .6);
}
.top-links .mailer:hover {
    background-color: rgba(0, 0, 0, .4);
}
.top-links li a {
    display: block;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: #e2e2e2;
    font-size: 14px;
    line-height: .9;
    text-transform: uppercase;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.top-links .link-comix a {
    padding: 32px 0 0 7px;
}
.top-links .link-promo a {
    padding: 32px 0 0 10px;
}
.drink-footer {
    position: absolute;
    bottom: 0;
    left: 8px;

    font-size: 12px;
    line-height: 23px;
    color: #e2e2e2;
    text-transform: uppercase;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
